<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <!-- Configure Spring beans here -->
    <bean id="userService" class="com.finance.services.UserService" />
    <bean id="loginController" class="com.finance.controllers.LoginController" />
    <bean id="registerController" class="com.finance.controllers.RegisterController" />

</beans>
